body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ff7f00, #feb47b, #f4416e);
    background-size: cover;
    background-repeat: no-repeat;

}
.menu-bar {
    background-color: rgba(142, 152, 152, 0.42);
    overflow: hidden;
}
.menu-bar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.menu-bar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    text-align: center;
    color: #114652;



}
.content img {
    border: 1px solid black;
    border-radius: 20px;
    height: 150px;
    width: 150px;

}
.content h1 {
    font-size: 50px;
}
.content img:hover {
    transform: scale(1.1); /* Vergrößerung um 10% (kann angepasst werden) */
    transition: transform 0.3s ease; /* Übergangsdauer und -effekt */
}

/* CSS für die überarbeitete Suchleiste */
.search-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 300px;
    transition: width 0.4s ease-in-out;
    font-size: 16px;
}

#searchInput:focus {
    width: 70%; /* Ändert die Breite des Eingabefelds beim Fokus */
}